{{> header title='Bullets'}}

<ul style="list-style-type:none">

  {{#each bullets }}

    <div class="row">
      <div class="col-md-10">
        <li><strong>{{this.name}}</strong>
        <li>{{this.type}}</li>
        <li>{{this.status}}</li>
      </div>

      <div class="col-md-2" >
          <form action="bullets/{{this.id}}/delete" method="post">
          <input type="submit" name="delete" value="Delete" class="btn btn-sm btn-outline-danger">
          </form>
          <form action="bullets/{{this.id}}/edit" method="get">
          <input type="submit" name="edit" value="   Edit  " class="btn btn-sm btn-outline-warning">
          </form>
      </div>   
    </div>
    
    <hr>
  
  {{/each}}
</ul>
